@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,900;1,400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}   
h1 {
    text-align: center;
    padding-top: 15px;
}
h2 {
    font-size: 1em;
}
header {
    background-color: #3d314a;
    height:100px;
    color: white;
    position: relative;
    text-align: center;
}
footer{
    background-color: #3d314a;
    height:75px;
    color: white;
    text-align: center;
}
main {
    background-color: #d3d3d3;
    border: solid thick  #3d314a;
}
#content{
    width: 800px;
    margin: 100px auto 0 auto  ;
#photo{
    margin-right: 10px;
}
#line{
    margin-left: left 30px;
    width: 700px
}
#BYU-I {
    color: white;
}
#date{
    color: blanchedalmond;
}
