@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,900;1,400&display=swap');
@media only screen and (min-width: 37.5em){

body{
    font-family: 'Poppins', sans-serif;
}   
header, footer {
    
    background-color: #3d314a;
    height:100px;
    color: white;
    position: relative;
    text-align: center;
}
h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 15px;
}
h2 {
    font-size: 1em;
    color: white;
}
h3 {
    font-family: 'Poppins', sans-serif;
    color: black;    
}
main {
    background-color: #d3d3d3;
    border: solid thick  #3d314a;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
a:link {
    color: white;
}
a:visited {
    color: blanchedalmond;
}
section {
    border-radius: 10px;
    margin: 20px;
    padding: 0 15px 0 15px; 
    border: 2px;
    border-color: #3d314a;
    grid-column: 1;
    grid-row: 1;
    color: white;
}
section:nth-child(2){
    grid-column: 2;
    grid-row: auto;
}
section:nth-child(3){
    grid-column: 3;
    grid-row: auto;
}
img{
    max-width: 100px;
    width: auto;
    height: auto;
    margin-top: 10px;

}
#content{
    width: 800px;
    margin: 100px auto 0 auto;
}
#BYU-I {
    color: white;
}
#date{
    color: blanchedalmond;
}
}