


body{
    font-family: 'Poppins', sans-serif;
}   
header, footer {  
    background-color: #3d314a;
    height:100px;
    color: white;
    position: relative;
    text-align: center;
}
h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 15px;
}
h2 {
    font-size: 1em;
    color:#f1f1f1;
}
h3 {
    font-family: 'Poppins', sans-serif;
    color: #f1f1f1;    
}
p {
    color: #f1f1f1;
}
main {
    background-color: #d3d3d3;
    border: solid thick  #3d314a;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
}
a:link {
    color: white;
    padding: 10px;
}
a:visited {
    color: blanchedalmond;
}
section {
    border-radius: 10px;
    margin: 20px;
    padding: 15px 15px 15px 15px; 
    border: 5px;
    border-color: #3d314a;
}
.imgBackground {
    background-color: #4c3d5d;
    padding: 10px;
}
.img{
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: #3d314a 0 0 20px;
}
#content{
    width: 800px;
    margin: 100px auto 0 auto;
}
#BYU-I {
    color: white;
}
#date{
    color: blanchedalmond;
}
