a:link {
    color: white;
    padding: 10px;
}
a:visited {
    color: #f4a261;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    padding: 0;
    margin: auto;
}  
div {
    border-radius: 10px;
    margin: 20px;
    padding: 15px 15px 15px 15px; 
    border: 0px;
} 
footer{
    display: block;
    background-color:#264653;
    align-items: center;
    color: white;
    padding: 10px;
}
header{
    background-color: white;
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }
h1 {text-align: center;
    font-size:2.5rem;
    text-shadow:3px 3px 5px #264653;
    margin: 0;
    padding: .5rem;
    }
h2 { font-size: 2rem;
    margin: 0;
    text-align: center;
}
h3 {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
}
h4{
    font-size: 1rem;
    margin: 0;
    text-align: center;
    font-style: italic;
    padding: .5rem;
}
header img{
    border-radius: 20px;
    width: 80px;
    height: auto;
}
main {
    max-width: 950px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}
nav{
    margin: 0 auto;
    color: white;
    background-color: #264653;
    box-shadow: 0 2px 15px #264653;
    list-style: none;
    }
nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #e9c46a;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
p {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    margin: 0px;
    color: #264653;
}
section{
    display: flex;
    gap: 15px;
    max-width: 600px;
    margin: .5rem auto;
    background-color: #2a9d8f;
    border: solid 2px #264653;
    padding-bottom: 15px;
}
.active {
    background-color: #2a9d8f;
    position:relative;

}
.article{
    display: block;
    background-color: #e9c46a;
    border: 1px solid #264653; 
    color: #264653;   
    text-align: left; 
}
.articleimg{
    width:25%;
    float: right;
    position: relative;
    border-radius: 15px;
}
.card {
    margin-top: 50px;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;        
}
.container{
    display: flex;
    flex-direction: column;
    background-color:#e9c46a;
    border: 1px solid #264653; 
    color: #264653;   
    box-shadow: 0 0 10px #111;
}
.contentbox{
    display: flex;
    flex-direction: column;
    background-color:#e9c46a;
    border: 1px solid #264653; 
    color: #264653;   
    box-shadow: 0 0 10px #111;
}
.figcaption{
    font-size: smaller;
}
.fiveday{
    display: none;
}
.gallery{
    display: grid ;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin: 1rem auto;
 }
.gallery-image{
    width: 100%;
    margin: 0.5rem;
}
.headings{
    display: flex;
    flex-direction: column;
}
.headings h1 {
    margin: 0 0 0 15px;
    color: #264653;
}
.herodiv {margin: 10px auto;
    background-color: #ffffff;
    position: relative;
    margin: 10px auto;
}
.motto{
        font-style: italic;
        letter-spacing: 1pt; 
        color: #264653;
        margin-left: 20px;
        font-size: 16px;
}
.navigation{
        display: flex;
        flex-direction: column;
}
.navigation li{
        display: none;
}
.navigation li:first-child{
        display:block;
}
.navigation a{
        display: block;
        padding: .8rem 2%;
        text-align: center;
        text-decoration: none;
        color: white;
        border-top: 1px solid rgba(0,0,0,0.3);
}
.navigation a:hover{
    color:#e9c46a;
}
.responsive li{
        display: block;
}
.navigation active a{
    background-color: #e9c46a;
    color: black
}
.summary {
	position: absolute;
	bottom: 50px;
	background: radial-gradient(#eee, #f4a261);
    border: 1px solid #e76f51;
    border-radius: 20px;
	padding: 1.5rem;
    box-shadow: 0 0 15px #111;
	opacity: .9;
}
/*.towns{
    display: flex;
    flex-direction: row;
}*/
.towns img{
    padding: 15px;
    box-shadow: 5px 10px #000; 
}
.towns p{
    text-align: center;
    color: black;
}
.text{
    display: flex;
    flex-direction: row;
}

#footer-text{
    color: white;
    text-align: center;
}
#heroimg{
  width: 100%;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 0 0 10px #111;
}
#heroimg img{
    width: 100%;
    height: auto;
}
#pancakes{
    display: block;
    text-align: center;
    background-color: white
}
#preston-map{
    width: 25%;
    border-radius: 5px;
}    
#today{
    display: block;
    margin-top: 10px;
    color: white;
    text-align: center;
}
#wireframes{
    display: flex;
    color: #000000;
    text-align: center;
}
