
@media only screen and (min-width: 35rem){
 
header img{
       width: 100%;
}
nav button {
    display: none
}
.cell{
    display: flex;
    flex-direction:column;
    align-items: center;
    color: white;
}
.col-head{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    color: white;
}
.data{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
    text-align: center;
    padding: 5px;
}
.fiveday{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 10px #111;
}
.flex-col {
    display: flex;
    background-color: #264653;
}
.navigation {
    display: flex;
    flex-direction: row;
}
.navigation li {
    display: block; 
}
.navigation a {
    text-align: center;
}
.navigation li:first-child {
    display: none;
}
.headings h1{font-size: 48px
}
.herodiv {margin: 10px auto;
    background-color: #ffffff;
    position: relative;
    margin: 10px auto;
}
.motto{
    letter-spacing: 1.5pt;
    font-size: larger;
    margin-left: 17px;
}    
main {
        background-color: white;
        border: solid thick  #264653;
        grid-template-columns: 1fr 1fr;
    }
    nav ul{
        display: flex;
    }
    nav li{
        flex: 1 1 100%;
    }
    }

