
@media only screen and (min-width: 35rem){
 
header img{
       width: 100%;
}
nav button {
    display: none
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table, th, ::-webkit-textfield-decoration-container{
    border: 1px #264653;
    border-spacing: 5px;
}
.fiveday{
    text-align: center;
    padding: 5px;
}
#fivedaytable{
    margin: auto;
    width: 100%;
}
#fivedays{
    background-color: #e9c46a;
}
.navigation {
    display: flex;
    flex-direction: row;
}
.navigation li {
    display: block; 
    flex: 1 1 auto;
}
.navigation a {
    text-align: center;
}
.navigation li:first-child {
    display: none;
}
.headings h1{font-size: 48px
}
.motto{
    letter-spacing: 1.5pt;
    font-size: larger;
    margin-left: 17px;
}    
main {
        background-color: white;
        border: solid thick  #264653;
        grid-template-columns: 1fr 1fr;
    }
    nav ul{
        display: flex;
    }
    nav li{
        flex: 1 1 100%;
    }
    }

