a:link {
    color: white;
    padding: 10px;
}
a:visited {
    color: #f4a261;
}

body{
    font-family: 'Oxygen', sans-serif;
    background-color: white;
    padding: 0;
    margin: 0;
}  
div {
    border-radius: 10px;
    margin: 20px;
    padding: 15px 15px 15px 15px; 
    border: 0px;
} 
footer{
    display: block;
    background-color:#264653;
    align-items: center;
    color: white;
    padding: 10px;
}
header{
    background-color: white;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    }
h1 {text-align: center;
    font-size:2.5rem;
    text-shadow:3px 3px 5px #264653;
    margin: 0;
    }
h2 { font-size: 18px;
    margin: 0;
}
h3 {
    margin: 0;
}
header img{
    border-radius: 20px;
    width: 80px;
    height: auto;
}
main {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}
nav{
    margin: 0 auto;
    color: white;
    background-color: #264653;
    box-shadow: 0 2px 15px #e76f51;
    list-style: none;
    }
nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #e9c46a;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
p {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    margin: 0px;
    color: #264653;
}
.active {
    background-color: #2a9d8f;
    position:relative;

}
.article{
    display: block;
    background-color: #e9c46a;
    border: 1px solid #264653; 
    color: #264653;   
    text-align: left; 
}
.articleimg{
    width:25%;
    float: right;
    position: relative;
    border-radius: 15px;
}
.contentbox{
    display: flex;
    flex-direction: column;
    background-color: #e9c46a;
    border: 1px solid #264653; 
    color: #264653    
}
.fiveday{
    display: none;
}

.headings{
    display: flex;
    flex-direction: column;
}
.headings h1 {
    margin: 0 0 0 15px;
    color: #264653;
}
.herodiv {margin: 10px auto;
    background-color: #ffffff;
    width: 80%;
    position: relative;
    margin: 10px auto;
}
.motto{
        font-style: italic;
        letter-spacing: 1pt; 
        color: #264653;
        margin-left: 20px;
        font-size: 16px;
}
.navigation{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
}
.navigation li{
        display: none;
}
.navigation li:first-child{
        display:block;
}
.navigation a{
        display: block;
        padding: .8rem 2%;
        text-align: center;
        text-decoration: none;
        color: white;
        border-top: 1px solid rgba(0,0,0,0.3);
}
.navigation a:hover{
    color:#e9c46a;
}
    .responsive li{
        display: block;
}
.navigation active a{
    background-color: #e9c46a;
    color: black
}
.summary {
	position: absolute;
	top: 400px;
	right: 50px;
	background: radial-gradient(#eee, #f4a261);
    border: 1px solid #e76f51;
    border-radius: 20px;
	padding: 1.5rem;
    box-shadow: 0 0 15px #111;
	opacity: .7;
}
#footer-text{
    color: white;
    text-align: center;
}
#heroimg{
  width: 100%;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 0 0 10px #111;
}
#pancakes.show{
    display: block;
    text-align: center;
}
#panckaes{
    display: none;
    background-color: white;
}
#preston-map{
    width: 25%;
    border-radius: 5px;

}    
#today{
    display: block;
    margin-top: 10px;
    color: white;
    text-align: center;
}
