body{
    font-family: 'Oxygen', sans-serif;
}   
header{
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
}
footer{
    display: flex;
    flex-wrap: nowrap;
    background-color:#264653;
    align-items: center;
    color: white;
}
#sitename{
    color :#264653;
    font-size: 30px;
    margin-right: 10px;
    margin-top: 15px;
    align-self: center;
    flex-direction: column;
  
}
#motto{
    color: #264653;
    font-size: 20px;
    align-self: center;
    flex-direction: column;
    justify-content: space-around;
}
h1 {
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
}
h2 {
    font-size: 18px;
    color:#2a9d8f;
}
h3 {
    font-family: 'Oxygen', sans-serif;
    color:#2a9d8f;
}
p {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    color: #264653;
}
nav{
    display:flex;
    background-color: #264653;
    text-align: center;
    box-shadow: 0 2px 15px #2a9d8f
    color: white;
}
nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 2px;
    overflow: hidden;
    color: white;
}
nav li a{
    display: block;
    color: white;
    text-align: center;
    padding:10px;
    font-size: 16px;
    text-decoration: none;
}
nav a:hover{
background-color: aqua;
color: #264653
}
.menu{
    display: flex;
}
main {
    background-color: white;
    border: solid thick  #264653;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
}
a:link {
    color: #e76f51;
    padding: 10px;
}
a:visited {
    color: #f4a261;
}
div {
    border-radius: 10px;
    margin: 20px;
    padding: 15px 15px 15px 15px; 
    border: 5px;
    border-color: #264653;
}
.contentbox{
background-color: #2a9d8f;
border: 2px solid #264653
padding: 10px;
margin: 10px;
border-radius: 5px;
position: center;
color: black;
}