body{
    font-family: 'Oxygen', sans-serif;
}   
header{
    display: grid;
    background-color: white;
    }

#sitename{
    color :#264653;
    font-size: 55px;
    margin-top: 15px;
    grid-column: 2;
    grid-row: 1;
}
#motto{
    color: #264653;
    font-size: 20px;
    grid-column: 2;
    grid-row: 2;  
    }
#logo{
    border-radius: 20px;
    padding: 10px;
    grid-column: 1;
}
h1 {
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
}
h2 {
    font-size: 18px;
    color:#2a9d8f;
}
h3 {
    font-family: 'Oxygen', sans-serif;
    color:#2a9d8f;
}
p {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    color: #264653;
}
nav{
    display: flex;
    color: white;
    background-color: #264653;
    text-align: center;
    box-shadow: 0 2px 15px #e76f51;
    align-content: stretch;
    
    }
nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 2px;
    overflow: hidden;
    color: white;
}
nav li a{
    display: block;
    color: white;
    text-align: center;
    padding:10px;
    font-size: 16px;
    text-decoration: none;
}
nav a:hover{
background-color: aqua;
color: #264653
}
.menu{
    display: flex;
}
main {
    background-color: white;
    border: solid thick  #264653;
    margin: 10 px auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}
a:link {
    color: #e76f51;
    padding: 10px;
}
a:visited {
    color: #f4a261;
}
div {
    border-radius: 10px;
    margin: 20px;
    padding: 15px 15px 15px 15px; 
    border: 5px;
    border-color: #264653;
}
.contentbox{
    display: flex;
    flex-direction: column;
    background-color: #e9c46a;
    border: 1px solid #264653; 
    color: #264653    
}
footer{
    display: block;
    background-color:#264653;
    align-items: center;
    color: white;
}
#today{
    display: block;
    margin-top: 10px;
}