body{
    font-family: 'Oxygen', sans-serif;
    background-color: white;
    padding: 0;
    margin: 0;
}   
header{
    background-color: white;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    }
header img{
    border-radius: 20px;
    width: 80px;
    height: auto;
}
.headings{
    display: flex;
    flex-direction: column;
}
.headings h1 {
    font-size: 60 px;
    margin: 0 0 0 15px;
    color: #264653;
}
.motto{
    font-style: italic;
    letter-spacing: 1pt; 
    color: #264653;
    margin-left: 20px;
    font-size: 16px;
    }
h2 {
    font-size: 18px;

}
h3 {
    font-family: 'Oxygen', sans-serif;

}
p {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    color: #264653;
}
nav{
    margin: 0 auto;
    color: white;
    background-color: #264653;
    box-shadow: 0 2px 15px #e76f51;
    }
.navigation{
    list-style: none;
    padding: 0;
}
.navigation li{
    display: none;
}
.navigation a{
    display: block;
    padding: 15px;
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.navigation a:hover{
color:#e9c46a;
}
.responsiveli{
    display: block;
}
/*nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 2px;
    overflow: hidden;
    color: white;
}
nav li a{
    display: block;
    color: white;
    text-align: center;
    padding:10px;
    font-size: 16px;
    text-decoration: none;
}
nav a:hover{
background-color: aqua;
color: #264653
}
nav_hidden{display:none;}
.menu{
    display: flex;
}*/
main {
    background-color: white;
    border: solid thick  #264653;
    padding: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}
a:link {
    color: white;
    padding: 10px;
}
a:visited {
    color: #f4a261;
}
div {
    border-radius: 10px;
    margin: 20px;
    padding: 15px 15px 15px 15px; 
    border: 5px;
    border-color: #264653;
}
.contentbox{
    display: flex;
    flex-direction: column;
    background-color: #e9c46a;
    border: 1px solid #264653; 
    color: #264653    
}
footer{
    display: block;
    background-color:#264653;
    align-items: center;
    color: white;
}
#today{
    display: block;
    margin-top: 10px;
}