body {
	font-size: 14px;
	margin: 10px auto;
	max-width: 960px;
	font-family: Poppins, helvetica, sans-serif;
}
em {
	font-size: smaller;
}
input,
button,
select,
textarea {
	padding: 0.5rem;
	margin-bottom: .25rem;
}

input:focus {
	box-shadow: 0 0 10px #fff;
}
fieldset {
	background-color: #264653;
    border-radius: 5px;
    color: white;
}
fieldset label{
    display: flex;
    flex-direction: column;
    text-align: left;
}
legend {
    font-family: Poppins, sans-serif;
    font-weight: 1.25em;
}

input[type="button"] {
	color:#264653;
}
input[type="button"]:hover {
	background-color: #ddf;
}

input:invalid {
	background-color: #ddf;
	color: #000;
}
input:valid {
	background-color: #fff;
	color: #000;
}
.container1 {
    background-color: #2a9d8f;
}
.flexly {
	display: flex;
	align-items: center;
}
.selection {
    display: flex;
    align-items: center;
   margin: 0 15px;
}
#ratingvalue {
	margin: 0 15px;
}
#region{
    margin: 0 15px;
    font-size: 1em;
}
#storm-type{
    margin: 0 15px;
    font-size: 1em;
}
#submit{
    background-color: #264653;
    border-radius: 5px;
    color: white;  
}
#thanks{
    font-size: 2em;
}
#tickmarks{
    font-size: 1em;
}
#yes{
    margin: 0 15px;
    font-size: 1em;
}
#no{
    margin: 0 15px;
    font-size: 1em;
}
#maybe{
    margin: 0 15px;
    font-size: 1em;
}