#row1{
   background-color: #e7f0ed;
}
#row2{
    background-color: #e7ffed;
}
.header-footer{
    color: black;
    background-color: #7fb9c2;
}
.table-head{
    color: white;
    background-color: #628ca6;
}