@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,900;1,400&display=swap');
@media only screen and (min-width: 37.5em){
}
body{
    font-family: 'Poppins', sans-serif;
}   
h1 {
    text-align: center;
    padding-top: 15px;
}
h2 {
    font-size: 1em;
    color: white;
}
header {
    background-color: #3d314a;
    height:75 px;
    color: white;
    position: relative;
    text-align: center;
}
footer{
    background-color: #3d314a;
    height:75px;
    color: white;
    text-align: center;
}
main {
    background-color: #d3d3d3;
    border: solid thick  #3d314a;
    grid-template-columns: 1fr;
}
section{
    border-radius: 10px;
    margin: 20px;
    padding: 0 15px 0 15px; 
    color: white;
    border: 2px;
    border-color: #3d314a
}
section: :nth-child(2){
    margin-top: 0px;
}
section: :nth-child(3){
    margin-top: 0px;
}
img{
    display: block;
    max-width: 100px;
    margin-top: 10px;

}
#content{
    width: 800px;
    margin: 100px auto 0 auto  ;
}
#BYU-I {
    color: white;
}
#date{
    color: blanchedalmond;
}